@import url('https://fonts.googleapis.com/css2?family=Abel&family=M+PLUS+Rounded+1c&family=Noto+Sans&family=Rajdhani:wght@300&family=Sora:wght@200&family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

}

::-webkit-scrollbar {
    background-color: rgb(196, 192, 192);
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--liColor);
    border-radius: 10px;

}

:root {
    --bodyColor: rgb(7, 14, 47);
    --firstColor: aliceblue;
    /* --nameColor:rgb(9, 149, 165); */
    --nameColor: rgb(50, 205, 223);
    /* --liColor:rgb(41, 231, 171); */
    --liColor: rgb(50, 205, 223);
    --borderBottomColor: yellow;
    --sidebarbgcolor: #e0bfe0c5;
    --sidebarbgcolor: rgba(16, 26, 99, 0.822);
    --sidebarHoverbg: #6e236ec5;
    --midbodypara: rgb(205, 205, 250);
    --profession: rgb(32, 241, 137);
    --resumeBtnHover: rgb(9, 215, 112);
    --midBodyName: rgb(255, 21, 0);

}

.dark-mode {

    --bodyColor: rgb(220, 249, 253);
    --firstColor: black;
    --nameColor: rgb(4, 95, 65);
    --liColor: rgb(3, 77, 53);
    --borderBottomColor: rgb(3, 77, 53);
    /* --sidebarbgcolor : rgb(204, 248, 218); */
    /* --sidebarbgcolor : rgb(207, 239, 255); */
    --sidebarbgcolor: rgba(120, 243, 243, 0.666);
    --sidebarHoverbg: rgb(203, 239, 239);
    --midbodypara: rgb(4, 4, 72);
    --profession: rgb(241, 32, 206);
    --resumeBtnHover: rgb(255, 62, 223);

}

body {
    background-color: var(--bodyColor);
    color: var(--firstColor);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: auto;
    --nav-load-time: 300ms;
    --nav-link-load-time: 500ms;
}

.top-navbar {
    position: relative;
    z-index: 1;
}

#nav-menu {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20vw;
    padding: 10px 20px;
    background-color: var(--bodyColor);
    width: 100%;
    position: fixed;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: nav-load var(--nav-load-time) ease-in-out;
}

@keyframes nav-load {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

#nav-menu-logo_name {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 15%;
}

#logo {
    width: 50px;
    cursor: pointer;
    /* animation: logo-anim 2000ms infinite alternate; */
    animation: logo-anim 4000ms linear infinite 2000ms;

}

@keyframes logo-anim {

    /* 0% start from and 100% end to */

    100% {
        transform: rotate(360deg);

    }

}

#user-detail-name {
    /* position relative for before after design */
    position: relative;
    color: var(--nameColor);
    animation: name-load var(--nav-load-time) ease-in-out var(--nav-load-time);
    animation-fill-mode: forwards;
    display: block;
    white-space: nowrap;

}

#user-detail-name::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 3.5px solid salmon;
    border-left: 3.5px solid salmon;
    top: -2px;
    left: -10px;
}

#user-detail-name::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-bottom: 3.5px solid salmon;
    border-right: 3.5px solid salmon;
    bottom: -2px;
    right: -10px;
}

/* rotate animation */
@keyframes name-load {
    0% {
        transform: scale(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

#nav-menu-box {
    display: flex;
    align-items: center;
    width: 60%;
    margin-left: -10%;
}

#nav-menu-box ul {
    display: flex;
    align-items: center;
    margin: auto;
    gap: 1%;
    font-weight: bold;
    font-size: large;
}

#nav-menu-box li {
    list-style: none;
    color: var(--liColor);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
    padding: 10px 20px;
    animation-name: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in;
    animation-delay: var(--nav-load-time);
    animation-fill-mode: forwards;
}

@keyframes nav-link-load {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

#nav-menu-box li:hover {
    border-bottom: 4px solid;
    border-color: var(--borderBottomColor);
    cursor: pointer;

}

a {
    text-decoration: none;
    color: unset;
}

#light-dark-icon {
    width: 30px;
    cursor: pointer;
    animation: darkmode-load 1500ms linear infinite;
}

@keyframes darkmode-load {

    100% {
        transform: rotate(360deg);

    }

}


#sidebar {
    border: 1px solid;
    width: 10vw;
    /* height: 40vh; */
    padding: 10px;
    background-color: var(--sidebarbgcolor);
    position: fixed;
    border-radius: 10px;
    top: 15vh;
    left: 5px;
    visibility: hidden;

}

@keyframes sidebar-load {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);

    }
}

#sidebar-nav-menu-box ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10%;
    justify-content: center;
}

#sidebar-nav-menu-box ul li {
    font-size: large;
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    align-items: center;
    font-weight: bold;
    color: var(--liColor);
    padding: 8%;
    border-bottom: 2px solid rgba(220, 213, 213, 0.842);

}

/* #sidebar-nav-menu-box ul .active {
    font-size: large;
    font-weight: bold;
    color: orange;
    padding: 8%;
    border-bottom: 2px solid rgba(220, 213, 213, 0.842);

} */

#sidebar-nav-menu-box ul li:hover {
    background-color: var(--sidebarHoverbg);

}

li img {
    width: 18px;
}

li a {
    font-size: 100%;
}

.sidebar-icon {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 10.5vh;
    margin-left: 10px;
}

.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 3px;
    background-color: var(--liColor);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
}

.section {
    min-height: 88vh;
    display: block;
    opacity: 1;
    margin: auto;
    padding: 5vh 10vw;
    max-width: 1100px;
    width: 100%;

}

.midContainer {
    margin-top: 25vh;
}

.leftPadd {
    margin-left: 6%;

}

.mid-body {
    color: var(--midbodypara);

}

.row {
    display: flex;
    align-items: flex-start;
    gap: 30px;

}

.mid-body #user-detail {
    flex: 0 0 70%;
    max-width: 70%;
}

h3.user-detail-intro-firstLine {
    font-size: 28px;
    margin: 15px 0;
}

h3.user-detail-intro-firstLine span {
    color: var(--midBodyName);
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);
    white-space: nowrap;

}

h3.profession {
    font-size: 28px;
    margin: 15px 0;
}

h3.profession span {
    color: var(--profession);
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);
    white-space: nowrap;
    position: relative;
    z-index: -1;
}

h3.profession span::before {
    content: '';
    border-left: 2px solid var(--profession);
    left: 0;
    top: 0;
    height: 105%;
    /* to complete cover the height of the font*/
    width: 100%;
    /* to complete cover the width of the font*/
    position: absolute;
    background-color: var(--bodyColor);
    animation: animate 4s steps(12) infinite;

}

@keyframes animate {

    30%,
    60% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

#user-detail p {
    margin-bottom: 50px;
    font-size: 20px;
    text-align: justify;
}

.mid-body .avtar {
    flex: 0 0 30%;
    max-width: 70%;
    text-align: center;
    margin-top: 2%;
    position: relative;
    z-index: -1;
}

.avtar img {
    width: 200px;
    border-radius: 5px;

}

.avtar #profileImage:hover {
    transform: rotateY(360deg);
    transition: ease 4s;
    cursor: pointer;
}

.avtar::before {
    content: '';
    width: 70px;
    height: 70px;
    position: absolute;
    /* border-left: 8px solid orangered; */
    border-left: 8px solid;
    border-top: 8px solid;
    color: var(--profession);
    top: -30px;
    left: 10px;
}

.avtar::after {
    content: '';
    width: 70px;
    height: 70px;
    position: absolute;
    border-right: 8px solid;
    border-bottom: 8px solid;
    color: var(--profession);
    bottom: -30px;
    right: 10px;
}

.btn-resume {
    font-size: 17px;
    font-weight: 500;
    padding: 8px 13px;
    background-color: var(--profession);
    color: var(--bodyColor);
    border: none;
    border-radius: 10px;
    display: inline-block;
    white-space: nowrap;
    /* white-space: nowrap; basically make fix the any thing written with space (like name) and dont allow it to be wrapped while screen resizing */
    transition: all 0.2s ease;
}

.btn-resume:hover {
    transform: scale(1.03);
    background-color: var(--resumeBtnHover);
    cursor: pointer;
}

/*----------------- About section-----------  */

.section-title {
    white-space: nowrap;
    margin-top: 10vh;

}

.section-title h2 {
    font-size: 35px;
    color: var(--nameColor);
    position: relative;
    z-index: -1;
    margin-bottom: 50px;
}

.section-title h2::before {
    content: '';
    width: 60px;
    color: var(--profession);
    position: absolute;
    border-bottom: 4px solid;
    bottom: -2px;
    left: 0;
}

.section-title h2::after {
    content: '';
    width: 30px;
    color: var(--profession);
    position: absolute;
    border-bottom: 4px solid;
    bottom: -12px;
    left: 0;
}

#about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

#about .about-content .about-text {
    flex: 0 0 70%;
    max-width: 70%;
}

#about .about-content img {
    flex: 0 0 30%;
    max-width: 330px;
    margin-left: 5%;
    border-radius: 5px;
}


#about .about-content .about-text h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--profession);
    height: 25px;
}

#about .about-content .about-text p {
    font-size: 20px;
    color: var(--midbodypara);
    text-align: justify;
}

.personal-info {
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    white-space: nowrap;
}

.personal-info h3 {
    color: orangered;
    margin-bottom: 10px;
}

.personal-info .info-item p {
    color: var(--profession);
    font-weight: 700;
    padding-top: 5px;
    border-bottom: 2px solid rgba(220, 213, 213, 0.842);
}

.personal-info span {
    color: var(--liColor);
}

.personal-info .info-item-education {
    color: var(--profession);
    font-weight: 700;
    padding-bottom: 6px;
}

.education .duration {
    font-size: small;
    color: var(--midBodyName);
}


/*----------------- skills -----------  */

/* hexagonal area */

.cntnr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.cntnr .hexagonArea {
    display: flex;
    z-index: 0;
}

.cntnr .hexagonArea img {
    width: 110px;
    border-radius: 40px;
}

.cntnr .hexagonArea p {
    color: var(--sidebarHoverbg);
}

.cntnr .hexagonArea .hexagon {
    position: relative;
    width: 130px;
    height: 170px;
    margin: 0 10px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    /* background-color: var(--borderBottomColor); */
    background-color: var(--midbodypara);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: 0.5s;
    /* z-index: -1; */

}

.cntnr .hexagonArea .hexagon:hover {
    background-color: aquamarine;
    transform: scale(0.85);
}

.cntnr .hexagonArea.middle {
    transform: translateY(-25px);
}

.cntnr .hexagonArea.last {
    transform: translateY(-50px);
}

/* -------------------------------------- */

.skill-percentage {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    display: none;
}

.skill-percentage .skill-graph {
    width: 80%;
}

.skill-percentage .skill-graph .skill-item {
    margin-bottom: 1%;

}

.skill-percentage .skill-graph .skill-item h4 {
    color: var(--nameColor);
    position: relative;

}

.skill-percentage .skill-graph .skill-item span {
    color: var(--midbodypara);
    position: absolute;
    right: 11%;

}

.skill-percentage .skill-graph .skill-item .parent {
    width: 60%;
    position: relative;
    margin-left: -10%;
}

.skill-percentage .skill-graph .skill-item .bar {
    width: 100%;
    height: 5px;
    background-color: rgb(203, 201, 201);
    border-radius: 5px;
    position: absolute;
    top: -15px;
    left: 150px;
}

.skill-percentage .skill-graph .skill-item .limit-bar {
    /* transition:all 0.4s ease-in; */
    height: 5px;
    background-color: orangered;
    border-radius: 5px;
    position: absolute;
    top: -15px;
    left: 150px;
}


/*----------------- Animation on back to button-----------  */
#backToTop {
    position: fixed;
    bottom: 5px;
    right: 5px;
    opacity: 0;
    transition: all .4s;

}

#backToTop.active {
    opacity: 1;
}

#backToTop>img {
    width: 70px;
    transition: all 2s;

}

#backToTop>img:hover {
    transform: scale(1.2);
    transition: all 2s;
    border: 2px dashed silver;
    border-radius: 50%;
}

/* 
table {
    font-family: arial, sans-serif;
    font-size: large;
    border-collapse: collapse;
    width: 100%;
    margin-right: 100px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border-color: var(--firstColor);
}

tr:nth-child(1) {
    background-color: var(--sidebarbgcolor);
}

/* tr:nth-child(even) {
    background-color: var(--sidebarbgcolor);
} 

th {
    color: var(--midBodyName);
}

td {
    color: var(--liColor);
} */

/* --------------------------------------------- */
.jobrole-img {
    width: 30%;
}

.jobrole-img img {
    width: 100%;
    border-radius: 5px;
    outline: auto;
}

.jobrole-img:hover {
    transform: rotateY(360deg);
    transition: ease-in-out 4s;
    cursor: pointer;
}

.jobrole-box {
    width: 100%;
    position: relative;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.jobrole-box::before {
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 10px;
    top: 0;
    background-color: var(--liColor);

}

.jobrole-box .job {
    margin: 2% 5%;
    color: var(--midbodypara);
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.jobrole-box .job h2 {
    color: var(--profession);
}

.jobrole-box .job h4 {
    color: var(--liColor);
}

.jobrole-box .job .duration {
    display: flex;
    align-items: center;
    gap: 10px;

}

.jobrole-box .job .duration span {
    color: rgb(38, 144, 255);
}

.jobrole-box .job .duration .circle-dot {
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--liColor);

}

.jobrole-box .job .job-description {
    width: 80%;
    text-align: justify;
}

.jobrole-box .job .duration img {
    width: 30px;
}

/* --------------------------------------------- */

.projects .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
}

.projects .project-grid .project-card {
    border: 1px solid;
    border-color: var(--liColor);
    box-shadow: rgba(110, 103, 103, 0.24) 0px 3px 8px;
    text-align: center;
    /* transition: transform 0.1s ease;
    transform-style: preserve-3d;
    will-change: transform;
     */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-end; */
    transition: box-shadow 0.1s, transform 0.1s;

}

/* ------------------------------------ */
/* design on card border */
.pc1 {
    border-radius: 0 30px 30px;
}

.pc2 {
    border-radius: 30px 0 30px 30px;
}

.pc3 {
    border-radius: 30px 30px 30px 0;
}

.pc4 {
    border-radius: 30px 30px 0;
}

/* ------------------------------------- */
.projects .project-grid .project-card:hover {
    /* background-color: var(--sidebarbgcolor); */
    /* transform: translateZ(12px); */
    box-shadow: 0px 0px 30px rgba(77, 148, 146, 0.6);
}

.project-card img {
    width: 90%;
    margin-top: 5%;
    border-radius: 10px;
    transition: all 1s ease-out;

}

.project-card img:hover {
    transform: scale(1.11);
    transition: all 1s ease-out;

}

.project-card h3 {
    margin: 15px;
    color: var(--midBodyName);

}

.project-card .project-description {
    margin: 0 15px 5px 15px;
    text-align: justify;
}

.project-card .project-tech-stack {
    margin: 0 15px 0 15px;
    text-align: justify;
}

.project-card .project-tech-stack span {
    color: var(--liColor);
    font-weight: bold;

}

.project-card div {
    margin: 10px;
    display: flex;
    gap: 10px;
}

.project-card div button {
    background-color: var(--nameColor);
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    color: aliceblue;
    font-size: medium;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-in 0.6s;
}

.project-card div button img {
    width: 13px;
}

.project-card div button:hover {
    box-shadow: inset 100px 0 0 0 #e9e189;
    color: black;
    cursor: pointer;
}

/* --------------------------------------- */



/* ------------------Github stats--------------------- */

.react-activity-calendar {
    /* outline: auto; */
}

.sub-title {
    text-align: center;
}

.stats {
    text-align: center;
    display: flex;
    align-items: flex-start;
}

.stats img {
    width: 30%;
}

.contact-box {
    margin-top: 8vh;
    position: relative;
}

.contact-links {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-links img {
    width: 30px;
}

.contact-links>div {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: large;
}

.copy-kro {
    position: relative;
}

.copy-kro:hover .tooltiptext {
    visibility: visible;
}

#copyBTN {
    width: 20px;
}

#copyBTN:hover {
    cursor: pointer;
}

.tooltiptext {
    visibility: hidden;
    /* width: 120px; */
    white-space: nowrap;
    background-color: rgb(255, 168, 183);
    color: blue;
    text-align: center;
    font-size: small;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 0;
    bottom: 150%;
    margin-left: -55px;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(255, 168, 183) transparent transparent transparent;
}

.cartoon img {
    width: 40%;
    position: absolute;
    top: -150px;
    right: 0;
    transition: all 1s ease;

}

.cartoon img:hover {
    transform: scale(1.2);
    transition: all 1s ease;
}

#footer {
    padding: 15px;
    background-color: var(--liColor);
    text-align: center;
    color: white;
}

/* --------------- Github Calender ----------------- */
.react-activity-calendar .contrib-number {
    font-weight: 200;
    font-size: 20px;
    color: #eb1414;
}

section .calendar {
    border-color: var(--liColor);
    min-height: auto;
}

.react-activity-calendar .table-column {
    border-color: var(--liColor);
}

.react-activity-calendar .ContributionCalendar-label {
    fill: var(--firstColor);
}


/* -----------------Media queries---------------------------- */

/* Mobile size */
@media screen and (min-width:0px) and (max-width:550px) {

    ::-webkit-scrollbar {
        width: 5px;
        border-radius: 5px;
    }

    body {
        overflow-x: hidden;
        width: 100%;
    }

    .section {
        margin: auto;
        width: 85%;
    }

    #nav-menu {
        gap: 72%;

    }

    #nav-menu-logo_name {
        width: 20%;
    }

    #logo {
        width: 30px;
    }

    #user-detail-name {
        font-size: medium;
    }

    #nav-menu-box ul {
        display: none;
    }

    #sidebar {
        width: 30vw;
        padding: 2px;
        border-radius: 10px;
        position: fixed;
        top: 15vh;
        left: 5px;
        visibility: hidden;

    }

    li img {
        width: 13px;
    }

    li a {
        font-size: 70%;
    }

    .sidebar-icon {
        top: 8vh;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 20px;
        height: 2px;

    }

    .change .bar1 {
        transform: translate(0, 7px) rotate(-45deg);
    }

    .section {
        padding: 2%;
    }

    .midContainer {
        margin-top: 20vh;
    }

    .leftPadd {
        margin-left: 0;

    }

    .row {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }

    .mid-body #user-detail {
        max-width: 100%;
        flex: 0 0 90%;

    }

    h3.user-detail-intro-firstLine {
        font-size: 16px;
        margin: 3px 0;
    }

    h3.user-detail-intro-firstLine span {
        font-size: 20px;
        font-weight: 400;
    }

    h3.profession {
        font-size: 16px;
        margin: 10px 0;
    }

    #user-detail p {
        margin-bottom: 20px;
        font-size: 14px;

    }

    .avtar img {
        width: 160px;
        margin-bottom: 30px;
    }

    .avtar::before {
        width: 50px;
        height: 50px;
        border-left: 6px solid;
        border-top: 6px solid;
        top: -30px;
        left: -40px;
    }

    .avtar::after {
        width: 50px;
        height: 50px;
        border-right: 6px solid;
        border-bottom: 6px solid;
        bottom: 0;
        right: -40px;
    }


    .btns {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .btn-resume {
        font-size: 13px;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .section-title {
        margin-top: 5vh;
        margin-left: -200px;
    }

    .section-title h2 {
        font-size: 25px;
        margin-bottom: 40px;
    }

    .section-title h2::before {
        width: 40px;
        border-bottom: 3px solid;
    }

    .section-title h2::after {
        width: 20px;
        border-bottom: 3px solid;
        bottom: -10px;
    }

    /* ------------ About --------------- */
    #about .about-content .about-text {
        flex: 0 0 90%;
        max-width: 100%;
    }

    #about .about-content .about-text h3 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
        height: 20px;
    }

    #about .about-content .about-text p {
        font-size: 14px;
        text-align: justify;
    }

    #about .about-content img {
        flex: 0 0 100%;
        max-width: 300px;
        margin-left: 0;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    /* ------------ Personal Info --------------- */
    .personal-info {
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        width: 90%;
        white-space: nowrap;
    }

    .personal-info h3 {
        color: orangered;
        margin-bottom: 0;
        font-size: small;
    }

    .personal-info .info-item p {
        font-weight: 500;
        font-size: 13px;
        border-bottom: 1px solid rgba(220, 213, 213, 0.842);
    }

    .personal-info .info-item-education {
        font-weight: 500;
        padding-bottom: 6px;
        font-size: 12px;
    }

    .education .duration {
        font-size: 10px;
    }

    /* ------------ Skills --------------- */
    .cntnr .hexagonArea {
        /* flex-wrap: wrap; */
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .cntnr .hexagonArea img {
        width: 60px;
    }

    .cntnr .hexagonArea .hexagon {
        width: 70px;
        height: 90px;
        margin: 3px;
        font-size: small;
    }

    .cntnr .hexagonArea.middle {
        transform: translateY(0px);
    }

    .cntnr .hexagonArea.last {
        transform: translateY(0px);
    }

    /* -----------------Skill percentage (Hidden for now)----------------- */

    .skill-percentage {
        flex-wrap: wrap;
    }

    .skill-percentage .skill-graph .skill-item span {
        right: -15%;

    }

    .skill-percentage .skill-graph .skill-item .parent {
        margin-left: -15%;
    }

    /* --------------------------------------------------- */

    #backToTop>img {
        width: 40px;
    }

    /* ------------------Experience----------------------- */
    .jobrole-img {
        width: 50%;
    }

    .jobrole-box {
        padding: 0 0 0 5%;
    }

    .jobrole-box .job {
        margin: 2%;
        gap: 3px;
    }

    .jobrole-box .job h2 {
        font-size: 18px;

    }

    .jobrole-box .job h4 {
        font-size: 16px;
    }

    .jobrole-box .job .duration {
        font-size: small;

    }

    .jobrole-box .job .duration .circle-dot {
        height: 15px;
        width: 15px;
        left: 2.8px;

    }

    .jobrole-box .job .job-description {
        width: 90%;
        font-size: 14px;
    }

    .jobrole-box .job .duration img {
        width: 20px;
    }

    /* --------------------------------------------- */

    .projects .project-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .project-card h3 {
        font-size: 16px;

    }

    .project-card .project-description {
        font-size: 14px;
    }

    .project-card .project-tech-stack {
        font-size: 14px;
    }

    .project-card div button {
        border-radius: 10px;
        padding: 3px 8px;
        font-size: small;
    }

    .sub-title {
        font-size: 16px;

    }

    .stats {
        display: flex;
        flex-wrap: wrap;
    }

    .stats img {
        width: 80%;
    }

    /* --------------- Github Calender ----------------- */

    .react-activity-calendar .contrib-number {
        font-weight: 200;
        font-size: 12px;
        color: #eb1414;
    }

    .react-activity-calendar .float-right {
        font-size: 10px;
    }

    /* --------------- Contact section ----------------- */

    .contact-box {
        margin-top: 8vh;
        position: relative;
        width: 80%;
        margin: auto;
    }

    .contact-links {
        margin-left: -50%;
    }

    .contact-links img {
        width: 15px;
    }

    .contact-links>div {
        font-size: small;
    }

    #copyBTN {
        width: 12px;
    }

    .tooltiptext {
        color: blue;
        font-size: 10px;
        padding: 5px;
        margin-left: -42px;
    }

    .cartoon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cartoon img {
        width: 80%;
        position: initial;
        margin-top: -15%;

    }

    #footer {
        padding: 8px;
        font-size: small;
    }
}

/* Tablet size medium screen size */

@media screen and (min-width:551px) and (max-width:800) {}