@import url('https://fonts.googleapis.com/css2?family=Abel&family=M+PLUS+Rounded+1c&family=Noto+Sans&family=Rajdhani:wght@300&family=Sora:wght@200&family=Source+Code+Pro:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
:root {
    --bodyColor: rgb(220, 249, 253);
    --firstColor: black;
    --nameColor: rgb(4, 95, 65);
    --liColor: rgb(3, 77, 53);
    --borderBottomColor: rgb(3, 77, 53);
    /* --sidebarbgcolor : rgb(204, 248, 218); */
    /* --sidebarbgcolor : rgb(207, 239, 255); */
    --sidebarbgcolor: rgba(120, 243, 243, 0.666);
    --sidebarHoverbg: rgb(203, 239, 239);
    --midbodypara: rgb(4, 4, 72);

}

.dark-mode {
    --bodyColor: rgb(7, 14, 47);
    --firstColor: aliceblue;
    /* --nameColor:rgb(9, 149, 165); */
    --nameColor: rgb(50, 205, 223);
    /* --liColor:rgb(41, 231, 171); */
    --liColor: rgb(50, 205, 223);
    --borderBottomColor: yellow;
    --sidebarbgcolor: #e0bfe0c5;
    --sidebarbgcolor: rgba(16, 26, 99, 0.822);
    --sidebarHoverbg: #6e236ec5;
    --midbodypara: rgb(160, 160, 216);

}

body {
    background-color: var(--bodyColor);
    color: var(--firstColor);
    /* font-family: 'Noto Sans', sans-serif; */
    /* font-family: 'Abel', sans-serif; */
    font-family: 'M PLUS Rounded 1c', sans-serif;
    /* font-family: 'Sora', sans-serif; */
    margin: auto;
    --nav-load-time:300ms;
    --nav-link-load-time : 500ms;
}

#top-navbar {
    position: relative;
}

#nav-menu {
    /* border: 1px solid; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20vw;
    padding: 10px 20px;
    background-color: var(--bodyColor);
    width: 100%;
    position: fixed;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: nav-load var(--nav-load-time) ease-in-out;
}

@keyframes nav-load {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

#nav-menu-logo_name {
    display: flex;
    align-items: center;
    gap: 15px;
}

#logo {
    width: 50px;
    cursor: pointer;
}

#user-detail-name {
    color: var(--nameColor);
    animation: name-load var(--nav-load-time) ease-in-out var(--nav-load-time);
    animation-fill-mode: forwards;
}

/* rotate animation */
@keyframes name-load {
    0%{
        transform: scale(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

#nav-menu-box {
    display: flex;
    align-items: center;
    /* border: 1px solid; */
    /* margin: auto; */
    width: 60%;
}

#nav-menu-box ul {
    display: flex;
    align-items: center;
    /* border: 1px solid; */
    margin: auto;
    gap: 30px;
    font-weight: bold;
    font-size: large;
}

#nav-menu-box li {
    list-style: none;
    color: var(--liColor);
    padding: 0 20px;
    animation-name: nav-link-load;
    animation-duration:var(--nav-link-load-time);
    animation-timing-function: ease-in;
    animation-delay: var(--nav-load-time);
    animation-fill-mode: forwards;
}

@keyframes nav-link-load {
    0%{
        transform: scale(0);
    }
    90%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

#nav-menu-box li:hover {
    border-bottom: 2px solid;
    border-color: var(--borderBottomColor);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: unset;
}

#light-dark-icon {
    width: 30px;
    cursor: pointer;
}


#sidebar {
    /* border: 1px solid; */
    width: 10vw;
    /* height: 40vh; */
    padding: 10px;
    background-color: var(--sidebarbgcolor);
    position: fixed;
    border-radius: 10px;
    top: 15vh;
    left: 5px;
    visibility: hidden;

}
@keyframes sidebar-load {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);

    }
}

#sidebar-nav-menu-box ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5vh;
    padding: 10%;
    justify-content: center;
}

#sidebar-nav-menu-box ul li {
    font-size: large;
    font-weight: bold;
    color: var(--liColor);

}

#sidebar-nav-menu-box ul li:hover {
    background-color: var(--sidebarHoverbg);

}

.mid-body {
    margin: auto;
    /* padding-top: 15vh; */
    padding: 15vh 13vw;
    color: var(--midbodypara);
}

.sidebar-icon {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 10.5vh;
    margin-left: 10px;
}

.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 3px;
    background-color: var(--liColor);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
}


/*----------------- Animation on back to button-----------  */
#backToTop{
    position: fixed;
    bottom: 5px;
    right: 5px;
    /* display: none; */
    opacity: 0;
    transition: all .4s;

}
#backToTop.active{
    
    /* display: block; */
    opacity: 1;

}

#backToTop> img{
    width: 70px;
}

#backToTop> img:hover{
    transform: scale(1.2);
    transition: all 2s;
    border: 2px dashed silver;
    border-radius: 50%;
}
/* --------------------------------------- */